/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */




body{
    font-size: 15px;
    @import url(https://fonts.google.com/specimen/Outfit);
    background-color: hsla(219, 38%, 47%, 0.274);
    font-family:'Outfit', sans-serif;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    margin: auto;
    background-color: white;
    width:300px;
    height: auto;
    border-radius: 25px;
    padding: 25px;
    box-shadow: 10px 15px 15px  hsla(219, 21%, 32%, 0.26);

}

.image img{
    border-radius: 15px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}


.text .Big{
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;

}


.text .small {
    font-size: medium;
    font-weight: 400;
    text-align: center;
    color: rgb(162, 153, 153);
}
